# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
logs/

# Reports
reports/

# Data
data/

# Database
*.db

# Environment
.env
